
<h1 class="title">List of my tasks</h1>

<div class="container">
  <ul>
    <% @tasks.each do |task| %>
      <li class="font-weight-light ">
          <%= link_to task_path(task) do %>
        <%= task.completed.to_b ? ' ✓' : '☐' %>
        <% end %>
        <%= link_to task.title, task_path(task) %>
    <% end %></li>
  </br>
    <%= link_to "✒️ - New Task", tasks_new_path %>
  </ul>

</div>

